<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$CONTENT_TITLE - Admin">Admin - Charity App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/adminlte/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/adminlte/css/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/adminlte/css/metisMenu.min.css}" rel="stylesheet">
    <link th:href="@{/adminlte/css/startmin.css}" rel="stylesheet">
    <link th:href="@{/adminlte/css/timeline.css}" rel="stylesheet">
    <link th:href="@{/adminlte/css/morris.css}" rel="stylesheet">
</head>
<body>
    <h1>Bienvenue sur le Dashboard Organisation</h1>
    <p>Vous êtes connecté en tant qu'organisation.</p>
    <a th:href="@{/}">Retour à l'accueil</a>
    <script th:src="@{/adminlte/js/jquery.min.js}"></script>
    <script th:src="@{/adminlte/js/bootstrap.min.js}"></script>
    <script th:src="@{/adminlte/js/metisMenu.min.js}"></script>
    <script th:src="@{/adminlte/js/startmin.js}"></script>
</body>
</html> 