<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::content})}">
<head>
    <title>Accès refusé</title>
</head>
<body>
<th:block th:fragment="content">
    <div class="alert alert-danger text-center">
        <h1><i class="fas fa-ban"></i> Accès refusé</h1>
        <p>Vous n'avez pas les permissions nécessaires pour accéder à cette page.</p>
        <a th:href="@{/home}" class="btn btn-primary">Retour à l'accueil</a>
    </div>
</th:block>
</body>
</html>